---
import Grid from '@components/Grid.astro'
import PageHeader from '@components/PageHeader.astro'
import PostCard from '@components/PostCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { fetchPosts } from '@lib/post'

const posts = await fetchPosts()
---

<BaseLayout head={{
  title: `Blog`,
  description: `All the articles are here`,
}}>

  <div class="relative min-h-screen">
    <div class="absolute inset-0">
      <Grid />
    </div>

    <div class="relative max-w-screen-xl mx-auto px-4 py-20">
      <PageHeader 
        mark='BLOG' 
        title="THOUGHTS && IDEAS"
        description='Exploring code, game, and everything in between'
      />

      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
          {posts.map((post) => (
            <a href={`/posts/${post.slug}`} class="block">
              <PostCard post={post} />
            </a>
          ))}
      </div>
    </div>
  </div>

</BaseLayout>
