/* selection styles */
::selection {
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  background-color: theme("colors.primary.DEFAULT");
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  color: theme("colors.light.surface");
}

/* animation */
@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* code block max height */
.expressive-code .frame pre {
  max-height: min(68vh, 1000px);
  overflow: auto;
}

/* scrollbar style */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track {
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  background: theme("colors.light.surface");
}

.dark ::-webkit-scrollbar-track {
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  background: theme("colors.dark.surface");
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  background: theme("colors.primary.800");
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.28);
}

.dark ::-webkit-scrollbar-thumb:hover {
  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  background: theme("colors.primary.700");
}

/* Performance optimizations */
img {
  content-visibility: auto;
}
