---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout head={{
  title: "Not Fount",
  description: "404",
}}>
  <div class="i-mingcute:confused-line w-32 h-32 mx-auto mb-8 text-primary"></div>
  <h1 class="text-4xl font-bold mb-8">404: 页面找不到了哟</h1>
  <div class="space-y-4">
    <a href="/" class="inline-block bg-primary text-primary-foreground px-6 py-3 rounded-md hover:bg-primary/90 transition-colors">
      回到首页
    </a>
  </div>
</BaseLayout>
