---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout head={{
  title: "About",
  description: "About this website and author",
}}>
  <h1 class="text-4xl font-bold mb-8">关于</h1>
</BaseLayout>
