---
import HeroSection from '@components/HeroSection.astro'
import RecentPosts from '@components/RecentPosts.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { SITE } from 'config'
---

<BaseLayout head={{
  title: SITE.title,
  description: SITE.description || "",
}}>
  <div class="min-h-screen max-w-screen-xl mx-auto px-4 py-12">
    <HeroSection />
    <RecentPosts />
  </div>
</BaseLayout>
