---
---

<footer class="bg-card mt-16 py-6 border-t border-border">
    <div class="mt-2 text-center text-muted-foreground">
      <p>&copy; {new Date().getFullYear()} SoftKern. All rights reserved.</p>
    </div>
</footer>
