---
---

<footer class="mt-20 py-8 text-center text-sm text-light-muted dark:text-dark-muted">
  <p>&copy; {new Date().getFullYear()} <span class="text-primary">[SOFTKERN]</span> - <span>All rights reserved.</span></p>
</footer>
