---
import { MENUS } from 'config'
import Logo from './Logo.astro'
import MenuToggle from './MenuToggle.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header class="w-full">
  <div class="relative flex items-center justify-between h-16 w-full mx-auto md:max-w-screen-md 2xl:max-w-screen-xl">
    <Logo />
    <nav id="menus" class="flex gap-2 ml-4 bg-background">
      {MENUS.map((menu) => (
        <a href={menu.url} class="px-4 py-2 max-md:hover:bg-secondary">{menu.name}</a>
      ))}
    </nav>
    <div class="flex gap-5 ml-auto mr-8">
      <ThemeToggle />
      <MenuToggle />
    </div>
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
      document.querySelector("#menuToggle")?.addEventListener('click', () => {
          document.querySelector("#menuToggle")?.classList.toggle('toggle-expanded')
          document.querySelector("#header")?.classList.toggle('header-expanded')
          document.querySelector("#menus")?.classList.toggle('expanded')
      })

      const pathname = window.location.pathname.split("/").splice(0, 2).join("/")
      const currentLink = document.querySelector(`#navLinks a[href="${pathname}"]`)
      if (currentLink) {
          currentLink.classList.add("selected-link")
      }
  })
</script>

<style>
#menus.expanded {
    display: flex;
    opacity: 1;
}

@media screen and (max-width: 768px) {
  #menus {
      display: none;
      position: absolute;
      top: 100%;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      padding-left: 24px;
      padding-right: 24px;
      border-radius: 2px;
      z-index: 9999;
      margin: 0;
      padding: 20px 50px;
  }

  #menus a {
    width: 100%;
  }

  #menus a:hover {
    /* background-color: #d5d5d5; */
    border-radius: 8px;
  }
}
</style>
