---

---

<a href="/" aria-label="home" class="h-8">
  <img src="/logo.svg" title="logo" alt="logo" class="h-full dark:hidden" />
  <img src="/logo-dark.svg" title="logo" alt="logo" class="h-full hidden dark:block" />
</a>
