---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'

const { title } = Astro.props
---

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions />
	</head>
	<body class="bg-background text-foreground antialiased scroll-smooth">
    <Header />
    <main class="container mx-auto px-4 py-8">
      <slot />
    </main>
    <Footer />
	</body>
</html>
