---
import BackToTop from '@components/BackToTop.astro'
import BaseHead, { type HeadInfo } from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import MousePoint from '@components/MousePoint.astro'
import '@styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import { SITE } from 'config'

interface Props {
  head: HeadInfo
}

const { head } = Astro.props
---

<html lang="zh-CN">
	<head>
    <BaseHead {...head} />
    <ViewTransitions />
	</head>
	<body class=" bg-base color-base font-mono min-h-screen antialiased scroll-smooth">
    <Header />
    <main class="relative pt-16">
      <slot />
    </main>
    
    <Footer />
    <MousePoint />
    <BackToTop />
    <script defer src={SITE.umami?.url} data-website-id={SITE.umami?.website_id}></script>
	</body>
</html>
